.search {
    position: relative;
    width: 90%;
    background-color: rgb(235, 236, 238);
    height: 2rem;
    zoom: 1;
    vertical-align: middle;
    border-radius: 1rem;
    margin: auto;
}

.bn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp {
    width: 80%;
    position: absolute;
    display: block;
    height: 2rem;
    overflow: hidden;
    left: 2rem;
}

.inp input {
    /* 干掉 输入框默认样式 outline: none; border: none; */
    outline: none;
    border: none;
    width: 90%;
    background-color: rgb(235, 236, 238);
    font-size: 1.0rem;
    height: 1.5rem;
    -webkit-appearance: none;
    padding: 0.3rem;
}